*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* .logo-name{
    color: rgb(38, 225, 38);
    position: absolute;
    left: 0;
} */

/* .img-fluid {
  width: auto;
  height: auto;
} */

 


 
h1,h2,p{
    color: white;
}

.nav-link{
    color: white;
    font-size: 20px;
}

.row{
    margin-top: 2em;
}


.about-section{
    margin-top: 10em;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
 
     
    align-items: center;
    /* justify-items: center; */
    text-align: center;
    /* border: 2px solid yellow; */
}
 
 
 .my-image{
    margin-top: 2em;
    /* border: 2px solid green; */
    border-radius:50%;
   max-width: 25%;
   min-width:15%;
   
  
 }  

 .container-fluid{
    max-width: 85%;
    
    /* border: 2px solid red; */
 }


 .skills-text{
    color: rgb(18, 187, 18);
 }

  .btn:visited{
    color: rgb(32, 224, 32);
    

  }


  .projects{
    /* border: 2px solid yellow; */
    justify-content: center;
    text-align: center;
    margin-top: 3em;
    padding-top: 2em;
  }

  .project-h1-text{
    align-items: center;
    text-align: center;
    color: rgb(18, 187, 18);
  }

  .flex-item{
    /* border: 2px solid white; */
    padding: 5em;
  }

  .project-img{
    padding-top: em;
  }

  .spotify{
    padding: 1.5em;
  }
  .twitter{
    padding-top: 5.1em;
  }

  .DIsney{
    padding-top: 3.5em;
  }
  
.sites{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 2em;
}
 

  
.fa-facebook{
    color: #6691e8;
    margin-right: 5px;
    width: 2em;
    height: 2em;
     
}



.fa-linkedin{
    color: #0b87ca;
    margin-right: 5px;
 
}

.fa-square-twitter{
    color: #71c3f6;
    margin-right: 5px;
    
}


.fa-instagram{
    color:#db479b;
}


.final-footer{
    margin-bottom: 2em;
}


.nav-row{
  /* border: 5px solid red; */
}
.about-border{

  /* border: 2px solid yellow; */
}
.skills-border{
  /* border: 2px solid lightskyblue; */
}

.projects-border{
  /* border: 8px solid white; */
}

.grid-border-1{
  /* border: 7px solid orange; */
}

.grid-border-2{
  /* border: 7px solid red; */
}

.grid-border-3{
  /* border: 7px solid blue; */
}

.grid-border-4{
  /* border: 7px solid yellowgreen; */
}

.grid-border-5{
  /* border:7px solid cyan; */
}
.grid-border-6{
  /* border: 7px solid purple; */
}
 
.card{
  margin: 0 auto;
}

.footer-border{
  /* border: 5px solid red; */
}



/* @media screen and (max-width:200px) {

  .projects-flex{
    display: flex;
    flex-direction: column;
  
 
  }

  .card{
   
     width: 25%
   }
 
} */


@media screen and (max-width:280px) {

  .projects-flex{
    display: flex;
    flex-direction: column;
  
 
  }

  .card{
   
     width: 1rem;
   }
 
}


@media screen and (min-width:320px) {

  .projects-flex{
    display: flex;
    flex-direction: row;
  
 
  }

  .card{
   
     width: rem;
   }
 
}

/* 
@media screen and (min-width:320px) {

  .projects-flex{
    display: flex;
    flex-direction: column;
  
 
  }

  .card{
   
     width: 12rem;
   }
 
} */


/* @media screen and (max-width:420px) {

  .projects-flex{
    display: flex;
    flex-direction: column;
  
 
}

.card{
 
  width: 14rem;
}
 
} */


