*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* .logo-name{
    color: rgb(38, 225, 38);
    position: absolute;
    left: 0;
} */

 
h1,h2,p{
    color: white;
}

.nav-link{
    color: white;
    font-size: 20px;
}

.row{
    margin-top: 2em;
}


.about-section{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */
    text-align: center;
    /* border: 2px solid yellow; */
}
 
 
 .my-image{
    margin-top: 2em;
    /* border: 2px solid green; */
    border-radius:50%;
   max-width: 25%;
   min-width:15%;
   
  
 }  

 .container-fluid{
    max-width: 85%;
    /* border: 2px solid red; */
 }


 .skills-text{
    color: rgb(18, 187, 18);
 }

  .btn:visited{
    color: rgb(32, 224, 32);
    

  }


  .projects{
    /* border: 2px solid yellow; */
    justify-content: center;
    text-align: center;
    margin-top: 3em;
    padding-top: 2em;
  }

  .project-h1-text{
    align-items: center;
    text-align: center;
    color: rgb(18, 187, 18);
  }

  .flex-item{
    /* border: 2px solid white; */
    padding: 5em;
  }

  .project-img{
    padding-top: em;
  }

  .spotify{
    padding: 1.5em;
  }
  .twitter{
    padding-top: 5.1em;
  }

  .DIsney{
    padding-top: 3.5em;
  }
  
.sites{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 2em;
}
 

  
.fa-facebook{
    color: #6691e8;
    margin-right: 5px;
    width: 2em;
    height: 2em;
     
}



.fa-linkedin{
    color: #0b87ca;
    margin-right: 5px;
 
}

.fa-square-twitter{
    color: #71c3f6;
    margin-right: 5px;
    
}


.fa-instagram{
    color:#db479b;
}


.final-footer{
    margin-bottom: 2em;
}